<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>EUResearchHub</title>
        <link rel="stylesheet" href="../static/style.css">
        <script src="../static/functions.js"></script>
    </head>
    <body>
        <div class="app-container">
            <div class="app-header">
                <div class="app-header-left">
                    <span class="app-icon"></span>
                    <p class="app-name">EUResearchHub</p>

                </div>
                <div class="app-header-right">
                  <button class="notification-btn" onclick="location.href='{{ url_for('auth.logout') }}'">
            <svg width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24">
                <defs/>
                <path d="M9 21H5a2 2 0 01-2-2V5a2 2 0 012-2h4M16 17l5-5-5-5M21 12H9"/>
            </svg>
        </button>
                    <button class="notification-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell">
                            <path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9" />
                            <path d="M13.73 21a2 2 0 0 1-3.46 0" />
                        </svg>
                    </button>
                    <button class="profile-btn">
                    <img src="../static/images/profile.png" />
                    <span> {{ name }} {{ surname }} </span>
                    </button>
                </div>
                <button class="messages-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-circle">
                        <path d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z" />
                    </svg>
                </button>
            </div>
            <div class="app-content">
                <div class="app-sidebar">

                </div>
                <div class="projects-section">
                    <div class="projects-section-header">
                        <p style="color:#666666;">Projects</p>
                        <p style="color:#666666;" class="time">Evaluation Window: {{ from_date }} - {{ to_date }}</p>
                    </div>
                    <div class="projects-section-line">
    <div class="projects-status">
        <div class="item-status">
            <span style="color:#666666;" class="status-number">{{ counts_by_status['approved'] }}</span>
            <span class="status-type">Approved</span>
        </div>
        <div class="item-status">
            <span style="color:#666666;" class="status-number">{{ counts_by_status['require changes'] }}</span>
            <span class="status-type">Require changes</span>
        </div>
        <div class="item-status">
            <span style="color:#666666;" class="status-number">{{ counts_by_status['submitted for evaluation'] }}</span>
            <span class="status-type">Submitted for evaluation</span>
        </div>
        <div class="item-status">
            <span style="color:#666666;" class="status-number">{{ counts_by_status['not approved'] }}</span>
            <span class="status-type">Not Approved</span>
        </div>
    </div>
    <div class="view-actions">


                        </div>
                    </div>
                    <div class="project-boxes jsGridView">
                        {% for project in projects %}
                        <div class="project-box-wrapper">
                            <div class="project-box" style="background-color: rgba(114,157,172,0.09);">
                                <div class="project-box-header">
                                    <span>{{ project.date.strftime("%Y-%m-%d") }}</span>
                                    <div class="more-wrapper">
                                        <button class="project-btn-more">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical">
                                                <circle cx="12" cy="12" r="1" />
                                                <circle cx="12" cy="5" r="1" />
                                                <circle cx="12" cy="19" r="1" />
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                                <div class="project-box-content-header">
                                    <p class="box-content-header">{{ project.title }}</p>
                                    <p class="box-content-subheader">{{ project.description }}</p>
                                </div>
                                <div class="box-progress-wrapper">
                                    <p class="box-progress-header">Progress</p>
                                    <div class="box-progress-bar">
                                        <span class="box-progress" style="width: 60%; background-color: #729DAC"></span>
                                    </div>
                                    <p class="box-progress-percentage">60%</p>
                                </div>
                                <div class="project-box-footer">
                                    <div class="participants">
                                         {% for profile_picture in researcher_profile_pictures[loop.index0] %}
                                        <img src="{{ profile_picture[0] }}" alt="participant">
                                        {% endfor %}
                                        {% if user_type == 'researcher' %}
                                        <button class="add-participant" style="color: #729DAC;">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus">
                                                <path d="M12 5v14M5 12h14" />
                                            </svg>
                                        </button>
                                        {% endif %}
                                    </div>
                                    <div class="days-left" style="color: #729DAC;">
                                        {{ project.status.value }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% endfor %}
                        {% if user_type == 'researcher' %}
                        <div class="new-project-box-wrapper">
                            <div class="new-project-box">
                                 <div class="button-hold">
                                    <button class="plus-button"></button>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>