<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>EUResearchHub</title>
        <link rel="stylesheet" href="../static/style.css">

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css'>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap">
        <link rel="stylesheet" href="../static/style_upload.css">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.8.335/pdf.min.js"></script>

    </head>
    <body>
        <div class="app-container">
            <div class="app-header">
                <div class="app-header-left">
                    <span class="app-icon"></span>
                    <p class="app-name">EUResearchHub</p>
                </div>
                <div class="app-header-right">
                    <button class="notification-btn" onclick="location.href='{{ url_for('auth.logout') }}'">
    <svg width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24">
        <defs/>
        <path d="M9 21H5a2 2 0 01-2-2V5a2 2 0 012-2h4M16 17l5-5-5-5M21 12H9"/>
    </svg>
</button>
                    <button class="notification-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell">
                            <path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9" />
                            <path d="M13.73 21a2 2 0 0 1-3.46 0" />
                        </svg>
                    </button>
                    <button class="profile-btn">

                    <img src="../static/images/profile.png" />
                    <span> {{ name }} {{ surname }} </span>
                    </button>
                </div>
                <button class="messages-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-circle">
                        <path d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z" />
                    </svg>
                </button>
            </div>
            <div class="app-content">
                <div class="app-sidebar">
                </div>

                <!-- COLONNA SINISTRA -->

                <div class="projects-section">
                    <div class="projects-section-header">
                        <p style="color:#666666;">[title]</p>
                        <p  style="color:#666666;" time  >Evaluation window: [from] - [to]</p>
                    </div>
                    <div class="projects-section-line">
                        <div class="projects-status">
                            <div class="item-status">
                                <span class="status-type">[Description]</span>
                            </div>
                        </div>

                    </div>
                    <div class="project-boxes jsListView">
                        <div class="project-box-wrapper">
                            <div class="project-box" style="background-color: rgba(114,157,172,0.09)">

                                <div class="project-box-content-header">
                                    <p class="box-content-header">[name]</p>
                                    <p class="box-content-subheader">[description]</p>
                                </div>
                                <div class="box-progress-wrapper">

                                </div>
                                <div class="project-box-footer">
                                    <div class="days-left" style="color: #729DAC;">
                                        [download]
                                    </div>
                                    <br>
                                    <div class="days-left" style="color: #729DAC;">
                                        [ev. report]
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="project-box-wrapper">
                            <div class="project-box" style="background-color: rgba(114,157,172,0.09)">

                                <div class="project-box-content-header">
                                    <p class="box-content-header">[name]</p>
                                    <p class="box-content-subheader">[description]</p>
                                </div>
                                <div class="box-progress-wrapper">

                                </div>
                                <div class="project-box-footer">
                                    <div class="days-left" style="color: #729DAC;">
                                        [download]
                                    </div>
                                    <br>
                                    <div class="days-left" style="color: #729DAC;">
                                        [ev. report]
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="project-box-wrapper">
                            <div class="project-box" style="background-color: rgba(114,157,172,0.09)">

                                <div class="project-box-content-header">
                                    <p class="box-content-header">[name]</p>
                                    <p class="box-content-subheader">[description]</p>
                                </div>
                                <div class="box-progress-wrapper">

                                </div>
                                <div class="project-box-footer">
                                    <div class="days-left" style="color: #729DAC;">
                                        [download]
                                    </div>
                                    <br>
                                    <div class="days-left" style="color: #729DAC;">
                                        [ev. report]
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="project-box-wrapper">
                            <div class="project-box" style="background-color: rgba(114,157,172,0.09)">

                                <div class="project-box-content-header">
                                    <p class="box-content-header">[name]</p>
                                    <p class="box-content-subheader">[description]</p>
                                </div>
                                <div class="box-progress-wrapper">

                                </div>
                                <div class="project-box-footer">
                                    <div class="days-left" style="color: #729DAC;">
                                        [download]
                                    </div>
                                    <br>
                                    <div class="days-left" style="color: #729DAC;">
                                        [ev. report]
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="new-document-box-wrapper">
                            <div class="new-document-box">
                                <div class="button-hold">
                                    <button id="openModalButton" class="plus-button"></button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <!-- COLONNA DESTRA -->

                <div class="alignment">

                    <div class="messages-section">
                        <button class="messages-close">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle">
                                <circle cx="12" cy="12" r="10" />
                                <line x1="15" y1="9" x2="9" y2="15" />
                                <line x1="9" y1="9" x2="15" y2="15" />
                            </svg>
                        </button>
                        <div class="projects-section-header">
                            <p style="color:#666666;">Messages</p>
                        </div>
                        <div class="messages">
                            <div class="message-box">
                                <img src="../static/images/profile.jpg" alt="profile image">
                                <div class="message-content">
                                    <div class="message-header">
                                        <div class="name" style="color:#666666;">[name]</div>
                                    </div>
                                    <p class="message-line">
                                        [text]
                                    </p>
                                    <p class="message-line time">
                                        [datetime]
                                    </p>
                                </div>
                            </div>
                            <div class="message-box">
                                <img src="../static/images/profile.jpg" alt="profile image">
                                <div class="message-content">
                                    <div class="message-header">
                                        <div class="name" style="color:#666666;">[name]</div>

                                    </div>
                                    <p class="message-line">
                                        [text]
                                    </p>
                                    <p class="message-line time">
                                        [datetime]
                                    </p>
                                </div>
                            </div>
                            <div class="message-box">
                                <img src="../static/images/profile.jpg" alt="profile image">
                                <div class="message-content">
                                    <div class="message-header">
                                        <div class="name" style="color:#666666;">[name]</div>

                                    </div>
                                    <p class="message-line">
                                        [text]
                                    </p>
                                    <p class="message-line time">
                                        [datetime]
                                    </p>
                                </div>
                            </div>
                            <div class="message-box">
                                <img src="../static/images/profile.jpg" alt="profile image">
                                <div class="message-content">
                                    <div class="message-header">
                                        <div class="name" style="color:#666666;">[name]</div>

                                    </div>
                                    <p class="message-line">
                                        [text]
                                    </p>
                                    <p class="message-line time">
                                        [datetime]
                                    </p>
                                </div>
                            </div>


                        </div>




                    </div>
                        <form action="" class="message-label hide-submit message-sender">
                            <input class="message-holder" type="text" placeholder="Type anything...">
                            <label style="">
                                <input type="submit">
                                <svg style="height:35px; margin-left:10px; margin-right:20px" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#666666">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                    <g id="SVGRepo_iconCarrier">
                                    <path d="M10 14L13 21L20 4L3 11L6.5 12.5" stroke="#666666" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
                                    </path>
                                    </g>
                                </svg>
                            </label>

                        </form>
                    <div class="versions-section">
                        <div class="projects-section-header">
                            <p style="color:#666666;">Versions of: [name] </p>
                            <div class="button-hold-versions">
                                <button id="openModalButton2" class="plus-button-versions"></button>
                            </div>
                        </div>
                        <div class="messages">

                            <div class="message-box">
                                <div class="message-content">
                                    <div class="message-header">
                                        <div class="name" style="color:#666666;">1. [file_path]</div>

                                    </div>
                                    <p class="message-line">
                                        [description changes made]
                                    </p>
                                    <p class="message-line time">
                                        [datetime]
                                    </p>
                                </div>
                            </div>
                            <div class="message-box">
                                <div class="message-content">
                                    <div class="message-header">
                                        <div class="name" style="color:#666666;">1. [file_path]</div>

                                    </div>
                                    <p class="message-line">
                                        [description changes made]
                                    </p>
                                    <p class="message-line time">
                                        [datetime]
                                    </p>
                                </div>
                            </div>
                            <div class="message-box">
                                <div class="message-content">
                                    <div class="message-header">
                                        <div class="name" style="color:#666666;">1. [file_path]</div>

                                    </div>
                                    <p class="message-line">
                                        [description changes made]
                                    </p>
                                    <p class="message-line time">
                                        [datetime]
                                    </p>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>







        </div>



        <div id="modalContainer" class="modal-container">
            <div id="uploadArea" class="upload-area">
                <!-- Header -->
                <div class="upload-area__header">
                    <h1 class="upload-area__title">  Upload your file </h1>
                    <p class="upload-area__paragraph">
                        File should be a document or image
                        <strong class="upload-area__tooltip">
                            <span class="upload-area__tooltip-data"></span> <!-- Data Will be Comes From Js -->
                        </strong>
                    </p>
                </div>
                <!-- End Header -->

                <!-- Drop Zoon -->
                <div id="dropZoon" class="upload-area__drop-zoon drop-zoon">
    <span class="drop-zoon__icon">
      <i class='bx bxs-file-image'></i>
    </span>
                    <p class="drop-zoon__paragraph">Drop your file here or Click to browse</p>
                    <span id="loadingText" class="drop-zoon__loading-text">Please Wait</span>
                    <img src="" alt="Preview Image" id="previewImage" class="drop-zoon__preview-image" draggable="false">
                    <input type="file" id="fileInput" class="drop-zoon__file-input" accept="image/*">
                </div>
                <!-- End Drop Zoon -->

                <!-- File Details -->
                <div id="fileDetails" class="upload-area__file-details file-details">
                    <h3 class="file-details__title">Uploaded File</h3>

                    <div id="uploadedFile" class="uploaded-file">
                        <div class="uploaded-file__icon-container">
                            <i class='bx bxs-file-blank uploaded-file__icon'></i>
                            <span class="uploaded-file__icon-text"></span> <!-- Data Will be Comes From Js -->
                        </div>

                        <div id="uploadedFileInfo" class="uploaded-file__info">
                            <span class="uploaded-file__name">Proejct 1</span>
                            <span class="uploaded-file__counter">0%</span>
                        </div>
                    </div>
                </div>
                <!-- End File Details -->
            </div>
            <!-- End Upload Area -->
            <!-- partial -->
            <script src="../static/functions.js"></script>
            <script>
                const openModalButton = document.getElementById('openModalButton');
                const openModalButton2 = document.getElementById('openModalButton2');
                const modalContainer = document.getElementById('modalContainer');

                openModalButton.addEventListener('click', function() {
                    modalContainer.style.display = 'block';
                });

                openModalButton2.addEventListener('click', function() {
                    modalContainer.style.display = 'block';
                });
                // Hide the modal when the user clicks outside of it
                window.addEventListener('click', function(event) {
                    if (event.target === modalContainer) {
                        modalContainer.style.display = 'none';
                    }
                });
            </script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.8.335/pdf.min.js"></script>



        </div>



    </body>
</html>