<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <div>
        <form action="{{ url_for('auth.register') }}" method="POST">

            {% if user == 'none': %}
                <label for="user">Tipo di utente: </label>
                <button type="submit">Researcher</button>
                <button type="submit">Evaluator</button>
            {% else %}

            <input type="file" accept="image/jpg" name="profile_picture" id="register-profile_picture">

            <label for="name">Nome: </label>
            <input type="text" name="name" id="register-name">

            <label for="surname">Cognome: </label>
            <input type="text" name="name" id="register-surname">

            <label for="email">Email: </label>
            <input type="text" name="email" id="register-email">

            <label for="password">Password: </label>
            <input type="password" name="password" id="register-password">

            {% if user == 'researcher' %}
            <label for="affiliation">Affiliation: </label>
            <input type="text" name="affiliation" id="register-affiliation" >
            
            {% endif %}
            <button type="submit">Register</button>

            {% endif %}
        </form>
    </div>
</body>
</html>